body {
    display: flex;
    flex-direction: column;
}

.create-post {
    width: 70%;
    margin: 50px auto;
    border: thin solid rgba(192, 192, 192, 0.685);
    min-height: 200px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(12, 75, 234, 0.592);
}


.post-nav-item {
   display: flex;
   justify-content: space-around;
   width: 50%;
}

.nav-pills .nav-link.active {
    background-color: #48abe0;
}

.nav-link {
    color: black;
}
#editor {
    border-radius: 0px;
    min-height: 200px;
}

#editor .ql-editor {
    min-height: inherit;
}

.submit-post,
.submit-poll {
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    background-color: #131242;
    color: white;
    border: none;
    width: 100%;
    font-weight: bold;
}

.submit-post:hover,
.submit-poll:hover {
    background-color: #131242e6;
    box-shadow: 0 0 10px 1px #48abe0;
}

.community-post {
    color: rgba(0, 0, 0, 0.692);
    margin-top: 10px;
}

.radio-selected {
    color: rgba(0, 0, 0, 0.692);
    margin: 20px 0px;
}

.dropdown {
    width: 52.5%;
    margin-bottom: 20px;   
}

.two-poll-choices,
.poll-choice-three,
.poll-choice-four {
    display: none;
}